:root {
  --backgrey: #e8e6e5;
  --qualityelements: #67625f;
  --webred: #ff5959;
  --webbackcolor: #f8f9fc;
  --header-bg: #f8f8f8;
  --search-bar-bg: #bbb8b6;
  --cart-count-bg: #ff5959;
  --overlay-bg: #ffffffbf;
  --subsection-title-color: #67635f;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro", sans serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--header-bg);
}
.navigation-bar .burger {
  color: var(--cart-count-bg);
  transition: all 0.6s ease-out;
}
.navigation-bar .burger:hover {
  color: #000;
}
.navigation-bar .navigation-bar__icon {
  height: 49px;
  width: 49px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
}
.navigation-bar .navigation-bar__icon--search {
  background-color: var(--search-bar-bg);
  color: var(--header-bg);
}
.navigation-bar .navigation-bar__icon--cart-count {
  background-color: var(--cart-count-bg);
  font-weight: bold;
  color: var(--header-bg);
}
.navigation-bar .navigation-bar__icon--shop-cart .shop-cart {
  background: url("https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg") -66px 10px;
  width: 50px;
  height: 50px;
}
.navigation-bar .navigation-bar__icon--shop-cart:hover {
  background-color: var(--cart-count-bg);
}
.navigation-bar .navigation-bar__icon--shop-cart:hover .shop-cart {
  background: url("https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg") -105px 10px;
}
.navigation-bar .horizontal-link-list {
  height: 100%;
  margin-bottom: 0;
}

.quality-check {
  background-color: var(--backgrey);
  box-sizing: border-box;
  padding-bottom: 2rem;
  margin-top: 3rem;
}

.quality-check-box {
  border: none;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.quality-check-box > * {
  color: var(--qualityelements);
  text-align: center;
}
.quality-check-box__p1 {
  font-size: 0.7rem;
}
.quality-check-box__p2 {
  font-size: 0.5rem;
}
.quality-check-box__i {
  font-size: 4rem;
  padding-bottom: 1rem;
}
.quality-check-box:hover > * {
  color: var(--cart-count-bg);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  padding-top: 45px;
  background-color: var(--webbackcolor);
}

.siguenos {
  font-size: 14px;
  color: var(--qualityelements);
}

.siguenos-icon {
  height: 32px;
  width: 165px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacto-fb {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0px -494px no-repeat;
}

.contacto-tw {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -35px -494px no-repeat;
}

.contacto-insta {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -70px -494px no-repeat;
}

.contacto-pint {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -106px -494px no-repeat;
}

.contacto-you {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -176px -494px no-repeat;
}

.subscribe::before {
  border-bottom: 1px solid darkgrey;
  margin: 140px 0;
  width: 420px;
  padding-bottom: 35px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--webbackcolor);
}

.subscribe-text {
  font-size: 14px;
  color: var(--qualityelements);
}

.otros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--webred);
  background-color: var(--webbackcolor);
  padding: 40px;
}
.otros * {
  text-align: center;
  padding-top: 1rem;
}

.email,
.aboutus,
.condiciones {
  font-size: 14px;
}

.footer__autory {
  background-color: var(--webred);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.footer__autory p {
  text-align: center;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  position: relative;
  margin-top: 5rem;
}
.article .section-icon {
  width: 25%;
  position: absolute;
  top: -7rem;
}
.article__subsection {
  position: relative;
  padding-bottom: 1rem;
}
.article__subsection:first-of-type {
  padding-top: 3rem;
}
.article__subsection-title {
  text-align: center;
  font-weight: bold;
  color: var(--subsection-title-color);
}
.article__title {
  padding: 0.8rem 2.8rem;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-size: 2rem;
  margin: 2rem 0;
  text-align: center;
  margin-top: 5rem;
}
.article:nth-child(2n) {
  background-color: var(--header-bg);
}

.subsection__overlay {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 50%;
  background-color: var(--overlay-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

/*# sourceMappingURL=styles.css.map */
