:root {
  --backgrey: #c0c0c0;
  --qualityelements: #808080;
  --header-bg: #f8f8f8;
  --search-bar-bg: #bbb8b6;
  --cart-count-bg: #ff5959;
  --overlay-bg: #ffffffbf;
  --subsection-title-color: #67635f;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid red;
  background-color: var(--header-bg);
}
.navigation-bar .burger {
  color: var(--cart-count-bg);
  transition: all 0.6s ease-out;
}
.navigation-bar .burger:hover {
  color: #000;
}
.navigation-bar .navigation-bar__icon {
  height: 49px;
  width: 49px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
}
.navigation-bar .navigation-bar__icon--search {
  background-color: var(--search-bar-bg);
  color: var(--header-bg);
}
.navigation-bar .navigation-bar__icon--cart-count {
  background-color: var(--cart-count-bg);
  font-weight: bold;
  color: var(--header-bg);
}
.navigation-bar .navigation-bar__icon--shop-cart .shop-cart {
  background: url("https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg") -66px 10px;
  width: 50px;
  height: 50px;
}
.navigation-bar .navigation-bar__icon--shop-cart:hover {
  background-color: var(--cart-count-bg);
}
.navigation-bar .navigation-bar__icon--shop-cart:hover .shop-cart {
  background: url("https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg") -105px 10px;
}
.navigation-bar .horizontal-link-list {
  height: 100%;
  margin-bottom: 0;
}

.content {
  border: 2px solid green;
}

.logo {
  border: 2px solid red;
}

.article {
  border: 2px solid blue;
}

.footer {
  border: 2px solid red;
}

.quality-check {
  background-color: var(--backgrey);
  display: flex;
  flex-direction: row;
  border: none;
  box-sizing: border-box;
}

.quality-check-box {
  border: none;
  padding: 0px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.quality-check-box > * {
  color: var(--qualityelements);
  text-align: center;
}

.quality-check-box__p1 {
  font-size: 10px;
}

.quality-check-box__p2 {
  font-size: 6px;
}

.quality-check-box__i {
  font-size: 20px;
}

.footer__autory {
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.footer__autory p {
  text-align: center;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.article__subsection {
  position: relative;
}
.article__subsection-title {
  text-align: center;
  font-weight: bold;
  color: var(--subsection-title-color);
}
.article__title {
  padding: 0 2rem;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-size: 3rem;
  margin: 2rem 0;
  text-align: center;
}

.subsection__overlay {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 50%;
  background-color: var(--overlay-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
}

/*# sourceMappingURL=styles.css.map */
