:root {
  --backgrey: #e8e6e5;
  --qualityelements: #67625f;
  --webred: #ff5959;
  --webbackcolor: #f8f9fc;
  --header-bg: #f8f8f8;
  --search-bar-bg: #bbb8b6;
  --cart-count-bg: #ff5959;
  --overlay-bg: #ffffffbf;
  --subsection-title-color: #67635f;
  --secondary: #6199af;
  --highlight: #f6b436;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro", sans serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--header-bg);
  .burger {
    color: var(--cart-count-bg);
    transition: all 0.6s ease-out;
  }
  .burger:hover {
    color: #000;
  }
  .navigation-bar__icon {
    height: 49px;
    width: 49px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    & .user-text {
      font-size: 10px;
      margin: 0 0 0 4px;
      font-weight: 500;
    }
  }
  .navigation-bar__icon--search {
    background-color: var(--search-bar-bg);
    color: var(--header-bg);
  }
  .navigation-bar__icon--cart-count {
    background-color: var(--cart-count-bg);
    font-weight: bold;
    color: var(--header-bg);
  }
  .navigation-bar__icon--shop-cart {
    .shop-cart {
      background: url("https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg") -66px
        10px;
      width: 50px;
      height: 50px;
    }
    &:hover {
      background-color: var(--cart-count-bg);
      & .shop-cart {
        background: url("https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg") -105px
          10px;
      }
    }
  }

  .social-header {
    flex-wrap: nowrap;
    & > * {
      padding: 0px !important;
    }
  }
  .media-header {
    font-size: 15px;
    justify-content: space-between;
  }
  .horizontal-link-list {
    height: 100%;
    margin-bottom: 0;
  }
  .flags {
    position: absolute;
    left: 2rem;
    & > * {
      position: absolute;
    }
    & .flag-item {
      margin-left: 0.2rem;
      min-width: fit-content;
      & img {
        width: 55px;
      }
      &--maria {
        background-color: var(--webred);
        top: 0;
        padding-top: 4rem;
      }
      &--cucute {
        background-color: var(--secondary);
        left: 88px;
        &:hover {
          padding-top: 4rem;
        }
      }
      &--mumuchu {
        background-color: var(--highlight);
        left: 176px;
        &:hover {
          padding-top: 4rem;
        }
      }
    }
  }
}

h2 > .brand {
  text-align: center;
  align-items: center;
}

.brand-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.marcas {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.8;
  cursor: pointer;
  margin: 15px;
  list-style-position: outside;
}

.marcas:hover {
  filter: grayscale(0);
}

.quality-check {
  background-color: var(--backgrey);
  box-sizing: border-box;
  padding-bottom: 2rem;
  margin-top: 3rem;
}

.quality-check-box {
  border: none;

  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  & > * {
    color: var(--qualityelements);
    text-align: center;
  }

  &__p1 {
    font-size: 0.7rem;
  }

  &__p2 {
    font-size: 0.5rem;
  }

  &__i {
    font-size: 4rem;
    padding-bottom: 1rem;
  }
  &:hover > * {
    color: var(--cart-count-bg);
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  padding-top: 45px;
  background-color: var(--webbackcolor);
}
.footer-all {
  padding-bottom: 15px;
}

.siguenos {
  font-size: 14px;
  color: var(--qualityelements);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.siguenos-icon {
  height: 32px;
  width: 165px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacto-fb {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg)
    0px -494px no-repeat;
}

.contacto-tw {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -35px -494px
    no-repeat;
}

.contacto-insta {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -70px -494px
    no-repeat;
}

.contacto-pint {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -106px -494px
    no-repeat;
}

.contacto-you {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -176px -494px
    no-repeat;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--webbackcolor);
  padding: auto 0px;
  margin: auto 0px;
}

.subscribe-text {
  font-size: 14px;
  color: var(--qualityelements);
  padding: 15px;
}
.input-box {
  flex-direction: row;
  flex-wrap: nowrap;
  &-politica {
    font-size: 9px;
    align-items: center;
  }
}

.otros {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--webred);
  background-color: var(--webbackcolor);
  & * {
    text-align: center;
  }
  &-list {
    -ms-flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.email,
.aboutus,
.condiciones {
  font-size: 14px;
}

.footer__autory {
  background-color: var(--webred);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding-top: 5px;
}
.footer__autory p {
  text-align: center;
}

@mixin overlay {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 50%;
  background-color: var(--overlay-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.article {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  padding-top: 2rem;
  position: relative;
  margin-top: 5rem;
  & .section-icon {
    width: 150px;
    position: absolute;
    top: -7rem;
  }
  &__subsection {
    position: relative;
    padding-bottom: 1rem;
    &:first-of-type {
      padding-top: 3rem;
    }
    & .image-container {
      position: relative;
      width: min-content;
    }
  }
  &__subsection-title {
    text-align: center;
    font-weight: bold;
    color: var(--subsection-title-color);
  }
  &__title {
    padding: 10px 20px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    font-size: 2rem;
    margin: 2rem 0;
    text-align: center;
    max-width: min-content;
    margin-top: 5rem;
    font-weight: 800;
  }
  &:nth-child(2n) {
    background-color: var(--header-bg);
  }
}
.subsection {
  &__overlay {
    @include overlay();
  }
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.suscribete-button {
  background-color: var(--webred);
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px;
}

.image-container {
  padding: 1rem 0;
}
.image {
  color: var(--qualityelements);
  height: 147px;
  width: 350px;
  margin-bottom: 7.5px;
  position: relative;
  &__short {
    background-size: cover;
    &--personajes {
      background-image: url(/web/assets/fiestaspersonajes.jpg);
    }
    &--tematicas {
      background-image: url(/web/assets/fiestastematicas.jpg);
    }
  }
  &__subtitle {
    display: none;
  }
  &__tall {
    &--accesorios {
      background-image: url(/web/assets/pompones.jpg);
    }
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    a:hover {
      color: #292725;
    }
  }
}
.overlay {
  background-color: #ffffffcc;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: 50%;
  left: 0;
  bottom: 0;
  padding: 1rem;
}

@media (min-width: 600px) {
  .image-container {
    display: flex;
    .image {
      margin: 0;
      height: 300px;
      width: 715px;
      &__short--tematicas {
        margin-bottom: 15px;
      }
      &__tall {
        height: 615px;
        width: 350px;
        margin-left: 15px;
        &--accesorios {
          background-size: cover;
        }
      }
    }
  }
}
