:root {
  --backgrey: #c2c9d6;
  --qualityelements: #67635f;
  --webred: #ff5959;
  --webbackcolor: #f8f9fc;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro", sans serif;
}
.navigation-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navigation-bar {
  border: 2px solid red;
}

.content {
  border: 2px solid green;
}

.logo {
  border: 2px solid red;
}

.article {
  border: 2px solid blue;
}

.footer {
  border: 2px solid red;
}

.quality-check {
  background-color: var(--backgrey);
  display: flex;
  flex-direction: row;
  border: none;
  box-sizing: border-box;
}

.quality-check-box {
  border: none;
  padding: 0px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.quality-check-box > * {
  color: var(--qualityelements);
  text-align: center;
}

.quality-check-box__p1 {
  font-size: 10px;
}

.quality-check-box__p2 {
  font-size: 6px;
}

.quality-check-box__i {
  font-size: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  padding-top: 45px;
  background-color: var(--webbackcolor);
}

.siguenos {
  font-size: 14px;
  color: var(--qualityelements);
}

.siguenos-icon {
  height: 32px;
  width: 165px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacto-fb {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg)
    0px -494px no-repeat;
}

.contacto-tw {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -35px -494px
    no-repeat;
}

.contacto-insta {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -70px -494px
    no-repeat;
}

.contacto-pint {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -106px -494px
    no-repeat;
}

.contacto-you {
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -176px -494px
    no-repeat;
}

.subscribe::before {
  border-bottom: 1px solid darkgrey;
  margin: 140px 0;
  width: 420px;
  padding-bottom: 35px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--webbackcolor);
}

.subscribe-text {
  font-size: 14px;
  color: var(--qualityelements);
}

.otros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--webred);
  background-color: var(--webbackcolor);
  padding: 40px;
}

.email,
.aboutus,
.condiciones {
  font-size: 14px;
}

.footer__autory {
  background-color: var(--webred);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.footer__autory p {
  text-align: center;
}
